{% extends "base.html" %}

{% load static %}
{% load movie_extras %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/movie_list.js' %}"></script>
{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/movie_list.css' %}" />
{% endblock %}

{% block content %}

  <ul>
    {% for movie in page_obj %}
      <li>
        {% if movie.poster %}
          <span class="cursor-default show-image" data-img="{{ movie.poster.url }}">
            {% movie_format movie short=True %}
          </span>
        {% else %}
          <span class="cursor-default">
            {% movie_format movie short=True %}
          </span>
        {% endif %}
        <a href="{% url 'viewer:movie_detail' movie.pk %}">detail</a> /
        <a href="{% url 'viewer:movie_update' movie.pk %}">update</a> /
        <a href="{% url 'viewer:movie_delete' movie.pk %}">delete</a>
      </li>
    {% endfor %}
  </ul>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1">First</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
            Previous
          </a>
        </li>
      {% endif %}
      <li class="page-item active">
        <a class="page-link" href="#">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </a>
      </li>
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">
            Next
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
            Last
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>

{% endblock %}
